<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jasonxiang.com.doItYourself">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".xj.app.XJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".xj.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="client_type"
            android:value="xj.com" />

        <activity
            android:name=".xj.ui.recycler.RecyclerActivity"
            android:theme="@style/ActionBarTheme" />
        <activity android:name=".xj.ui.recycler.StaggeredGridLayoutActivity" />
        <activity android:name=".xj.ui.fab.FloatingActionButtonAct" />
        <activity android:name=".xj.ui.tablayout.TabLayoutAct" />
        <activity android:name=".xj.ui.navigationdrawer.NavigationDrawerAct" />
        <activity android:name=".xj.ui.recycler.PinterestMasonryAct" />
        <activity android:name=".xj.ui.toolbar.ToolbarAct" />
        <activity android:name=".xj.ui.navigationdrawer.CheeseDetailActivity" />
        <activity android:name=".xj.common.widget.WebViewActivity" />
        <activity android:name=".xj.common.widget.webview.JavaCallJsAct"/>
        <activity android:name=".xj.ui.stickerheader.StickerHeaderAct"/>
        <activity android:name=".xj.ui.DemoActivity"/>
        <activity android:name=".xj.ui.list.UltraListActivity"/>
        <activity android:name=".mvp.bean.UserLoginActivity"/>
        <activity android:name=".xj.ui.graph.GraphActivity"/>
    </application>


</manifest>